<% provide(:title,"About") %>

<h1>About</h1>
<p>
  The <a href="http://wWw.railsstutorial.org"> <em>Ruby on Rails
     Tutorial</em></a> is a
  <a href="http://wwW.railsstutorial.org/book"> </a>
  to teach web development with
  <a href="http://localhost:3000"> </a>.
  This is the sample application for the tutorial.
</p>
